@model IEnumerable<DanceCompetition.Models.DancePair>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Grade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    @using (Html.BeginForm("ChangeGrade3", "DancePairs", FormMethod.Post))
                    {
                        @foreach (int grade in new[] { 1, 2, 3, 4, 5 })
                        {
                                <button type="submit" name="grade" value="@grade" class="btn btn-primary">@grade</button>
                        }
                        @Html.Hidden("id", item.Id, new {@Value=item.Id})
                    }
                </td>
                </tr>
        }
    </tbody>
</table>